{% extends "base.html" %}
{% load url from future %}

{% block header %}All the flavours{% endblock %}

{% block content %}
<p>A list of flavours:</p>

{% if flavours %}
  <ul>
    {% for flavour in flavours %}
    <li><a href="{% url 'icecream.views.flavour_edit' flavour.id %}">{{ flavour.name }}</a>: {{ flavour.litres }}, {{ flavour.sellprice }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>Quick, better add some flavours before customers arrive!</p>
{% endif %}

<p><a href="{% url 'icecream.views.flavour_add' %}">Add</a> a new flavour.</p>

{% endblock %}
